Library/
Temp/

*.sln
*.proj
Assets/Addones/
Assets/_Scenes/test_BASE_36796.unity
Assets/_Scenes/test_BACKUP_36796.unity.meta
Assets/_Scenes/test_BACKUP_36796.unity
Assets/_Scenes/test_REMOTE_36796.unity.meta
Assets/_Scenes/test_REMOTE_36796.unity
Assets/_Scenes/test_LOCAL_36796.unity.meta
Assets/_Scenes/test_LOCAL_36796.unity
Assets/_Scenes/test_BASE_36796.unity.meta
